body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }
  
  .quiz-container {
    width: 95%;
    margin: 0 auto;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question h3 {
    margin-bottom: 10px;
  }
  
  .multiple-choice,
  .write-up {
    margin-bottom: 20px;
  }
  
  .feedback,
  .error {
    color: red;
    font-size: 14px;
  }
  
  .correct {
    color: green;
    font-size: 14px;
  }

  .improve {
    color: yellow;
    font-size: 14px;
  }

  #timer {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .word-counter {
    font-size: 12px;
    color: grey;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .box {
    float: left;
    width: 50%;
    padding: 20px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

  /* PRELOADER CSS */
  .page-loader {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.8;
    background: #272727;
    z-index: 1000;
  
    .txt {
      color: #666;
      text-align: center;
      top: 40%;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-weight: bold;
      line-height: 1.5;
    }
  }
  
  /* SPINNER ANIMATION */
  .spinner {
    position: relative;
    top: 35%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: #fff;
  
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
    }
  
    100% {
      -webkit-transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  